.cta {
  cursor: pointer;
  height: 36px;
  margin-right: 36px;
  padding: 4px 12px;
  color:white;
  background-color: #ec6336;
  border: 2px solid #ec6336;
  border-radius: 8px;
}

.atag {
  margin-right: 24px; 
  color:#ec6336;
}

@media (max-width: 760px) {
  .atag {
    display: none;
  }
}