.cta {
  cursor: pointer;
  height: 36px;
  margin-right: 36px;
  padding: 4px 12px;
  color:white;
  background-color: #01C4C6;
  border: 2px solid #01C4C6;
  border-radius: 8px;
}

.atag {
  margin-right: 24px; 
  color:#01C4C6;
}

@media (max-width: 760px) {
  .atag {
    display: none;
  }
}